<div class="pg">
<div class="styles_wrapper">
  
       
      
       <% @styles.each do |style| %>
         <% unless style.name == 'No style' %>
           <%=link_to style_path(style) do %> 
            <h3 style="float:left">
              <%= style.name %> <br/>
            </h3>
           <div class="collection_div" id="<%= style.name%>">
           
            <ul style="list-style-type:none;white-space:nowrap;overflow-x:auto;">
            <% style.products.each_with_index do |product, i| %>

                 

                  <% bgimage= product.image.url(:medium) %>
  
                  <li class ="prod_tile <%= style.name.gsub(' ','_') %> tile<%= i %>" style="background-image: url(<%= bgimage %>); background-size: contain; background-repeat: no-repeat; display:inline">
                    <div class="prod_title">

                      <%= product.name %>
                      

                    </div>
                  </li>
                  

                <% end %>
                </ul>
           </div>  
          <% end %>
              
         <% end %>
          
       <% end %>
      </ul>

  </div>
  </div>

  <script>
  $('.side_nav').css('display','none');
  // $('#content_wrapper').css('background-color','white');
  $('body').css('background-color','white');

  </script>