<%  if product_type.id != 1 %>
  <div class="panel panel-default">
    <div class="panel-heading product-type" id="<%= product_type.name.gsub(' ','_') %>">
      <h4 class="panel-title">
        
          <% if controller_name == 'products' && action_name == 'show' %>
            
            <label id='<%= product_type.id  %>' class="prod-cat">
              
            <%= link_to product_type.name, fetch_cat_path(:cat_id => product_type.id), :remote => true %>

          <% elsif controller_name == 'styles' && action_name == 'show' %>
              <label><input type="checkbox" value="" id="<%= product_type.id %>"> <%= product_type.name %> </label>
              

          <% else %>
            <label data-toggle="collapse" data-parent="#accordion1" href="#<%= product_type.name.gsub(' ','_') %>1" class="prod-cat">
           <%= link_to product_type.name, fetch_cat_path(:cat_id => product_type.id), :remote => true %> 
           
          <% end %>
         
        </label>
      </h4>
    </div>
    <div id="<%= product_type.name.gsub(' ','_') %>1" class="panel-collapse collapse sub-type-panel">
      <div class="panel-body">
        <div class="panel-group" id="acordion<%=product_type.id%>">
          <% if controller_name != 'styles' && action_name != 'show' %>
            <%= render product_type.product_sub_types %>
          <% end %>
        </div>
      </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->
   
  </div>
<% end %>