<style>
  .plus{
    height:100%;
    width:100%;
    
    background-color: rgba(0,0,0,0.7);
    padding-top: 70%!important;
  }
</style>
<div class="prod_wrapper ">
  <div class="list_wrapper">

      <ul class="prod_list">
        <h3 id="subtype_list_name"><%= @product_type.name %></h3>
        <% if @product_type.name == 'Wallpaper'%>
          <% @product_type.product_sub_types.each do |product_sub_type| %>
          <% product_sub_type.main_product.each do |main_product| %>

            <% bgimage= main_product.image.url(:medium) %>

            <%= link_to product_path(main_product) do %>
                      <li class ="prod_tile <%= product_sub_type.name.gsub(' ','_') %>">
                     <div class="prod_tile_img" style="background-image: url(<%= bgimage %>); background-size: cover; background-repeat: no-repeat"></div>

                      <div class="prod_title">

                          <%= product_sub_type.name %>
                          

                        </div>
                      </li>
                    <% end %>

            <% end %>
          <% end %>

        <% else %>
          <% @product_type.product_sub_types.order(:id).each do |product_sub_type| %>
           
            
            <%= link_to fetch_items_path(:cat_id => product_sub_type.id ), :remote => true do %>
              <% bgimage= product_sub_type.image.url %>
               <li class="prod_tile <%= product_sub_type.name.gsub(' ','_') %> sub_type_tile" id=""style="background-image: url(<%= bgimage %>); background-size: cover; background-repeat: no-repeat;">
                <h3 > 
                  <%= product_sub_type.name %>
                </h3>
              </li>              
              <% end %>

          
              <% product_sub_type.four_products.each_with_index do |product, i| %>
               <% bgimage= product.image.url(:medium) %>
                <% if i<4 %>

                  <%= link_to product_path(product) do %>

                   

                   
                    <li class ="prod_tile <%= product_sub_type.name.gsub(' ','_') %> tile<%= i %>">
                   <div class="prod_tile_img" style="background-image: url(<%= bgimage %>); background-size: contain; background-repeat: no-repeat"></div>

                    <div class="prod_title">

                        <%= product.name %>
                        

                      </div>
                    </li>
                  <% end %>
                <% else %>
                  <%= link_to fetch_items_path(:cat_id => product_sub_type.id ), :remote => true do %>
                  <li class="prod_tile <%= product_sub_type.name.gsub(' ','_') %>" style="background-image: url(<%= bgimage %>); background-size: contain; background-repeat: no-repeat">
                    
                      <div class="prod_title plus">
                        <h3>
                          See All
                        </h3>
                        <i class="fa fa-plus fa-2x" aria-hidden="true" ></i>

                      </div>
                    

                    </li> 
                  <% end %>


                <% end %>

              <% end %>
              

          <% end %>

        <% end %> <!-- END of wallpapers if -->
      </ul>
      <br/><hr/>
  </div>
</div>



<script>

  $(function(){
  var thisac ="#"+$('#subtype_list_name').text();
  var sideac = thisac.replace(" ","_");
  var actrgt = $(sideac).parents('.panel').children('.panel-collapse');
  // $(actrgt).collapse('show');


  //code for toggling the 'open' prodcat panel based onthe title in prod list
  // $(sideac).parents('.panel').children('.panel-collapse').collapse('toggle')
  //this is an open subtype panel after a sideac has been set
    // opensubt = $(sideac).parents('.panel').children('.panel-collapse').children().children().children().children('.in')

 });

  // toggle open the side nav panel for the clicked category tile ***

   $('.sub_type_tile').click(function(){
     thiss =$(this);

     history_cat = thiss.get(0).className.split(' ')[1];
     

     new_state ='/'+history_cat;
      // window.history.pushState(new_state, null, new_state);


     sideb_sub_cat = "#"+ thiss.get(0).className.split(' ')[1];
     sideb_collapse = $(sideb_sub_cat).find('label').attr('href');
    //open the subtype collapse panel in the sidebar
    $(sideb_collapse).collapse('toggle');

  });
</script>