<%  if product_type.id != 1 %>
  <div class="panel panel-default">
    <div class="panel-heading product-type" id="<%= product_type.name.gsub(' ','_') %>">
      <h4 class="panel-title">
        
          <% if controller_name == 'products' && action_name == 'show' || controller_name == 'static_pages' || controller_name == 'search' && action_name == 'index' || controller_name == 'favorites' || controller_name == 'showrooms'|| controller_name == 'errors' %>
            
            <label id='<%= product_type.id  %>' class="prod-cat">
              <%= form_tag({controller:'product_types', action:'index'},  method: 'post')  do %>
              <%= hidden_field_tag("id", product_type.id) %>
              <%= submit_tag product_type.name, class: 'back' %>

              <% end %>
              </label>

          <% elsif controller_name == 'styles' && action_name == 'show' %>
              <label><input type="checkbox" value="" id="<%= product_type.id %>"> <%= product_type.name %> 
              
              </label>
          <% else %>
            <label data-toggle="collapse" data-parent="#accordion1" href="#<%= product_type.name.gsub(' ','_') %>1" class="prod-cat">
              <%= link_to product_type.name, fetch_cat_path(:cat_id => product_type.id), :remote => true %> 
            </label>
          <% end %>
         
        
      </h4>
    </div>
    <div id="<%= product_type.name.gsub(' ','_') %>1" class="panel-collapse collapse sub-type-panel">
      <div class="panel-body">
        <div class="panel-group" id="acordion<%=product_type.id%>">
          <% unless controller_name == 'styles' && action_name == 'show' || controller_name == 'products' && action_name == 'show' %>
            <%= render partial: 'product_sub_types/product_sub_type', collection: product_type.product_sub_types.order(:id) %>
            <%# <%= render product_type.product_sub_types.order(:id) %1> %>
          <% end %>
        </div>
      </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->
   
  </div>
<% end %>
