<% @favorites.each do |fav| %>
  <p><%= fav.product_name %></p>
<% end %>

<p><%= link_to "TEST EMAIL", send_contact_with_favorites_path, method: 'post' %></p>

<%= form_tag(send_contact_with_favorites_path, method: 'post') do %>
  <% @favorites.each do |fav| %>
    <%= hidden_field_tag 'favorites[]', fav.product_name, multiple: true %>
  <% end %>
  <p> 
  <%= label_tag 'Email address' %>
  <%= email_field_tag 'requesters_email' %>
  </p>
  <p>
  <%= label_tag 'Location' %>
  <%= text_field_tag 'requesters_location' %>
</p>

<%= label_tag 'Optional Comments' %>
<%= text_area_tag 'requesters_memo' %>

  <%= submit_tag 'Send email' %>
<% end %>
