<% @favorites.each do |fav| %>
  <p><%= fav.product_name %></p>
<% end %>

<p><%= link_to "TEST EMAIL", send_contact_with_favorites_path, method: 'post' %></p>

<%= form_tag(send_contact_with_favorites_path, method: 'post') do %>
  <% @favorites.each do |fav| %>
    <%= hidden_field_tag 'favorites[]', fav.product_name, multiple: true %>
  <% end %>

  <%= submit_tag 'Submit with favorites' %>
<% end %>
