
  <style>
  #ex{
    float: left;
    color: black;
    }
    h2{
      padding-left: 1em;
    }
    </style>
  <h2>Favorites</h2>
  <ul>
  <% @favorites.each do |favorite| %>
  <% bgimage= favorite.product_image %>
    
   

        <li class ="search_prod_tile prod_tile <%= favorite.product_name.gsub(' ','_') %>">
          <%= link_to " [X] ", favorites_path + "/#{favorite.id}", method: 'delete',  id: "ex" %>
           <%= link_to favorite.url,
      id:favorite.css_id,
      class: 'favorite' do %>
          <div class="prod_tile_img" style="background-image: url(<%= bgimage %>); background-size: cover; background-repeat: no-repeat"></div>

          <div class="prod_title search_prod_title">

              <%= favorite.product_name %>
              
          </div>
        
      </li>
    <% end %>

  <% end %>
  </ul>
  <%# <%= link_to "Contact representative.", send_contact_with_favorites_path, method: 'post' %1> %>

