
<style>
.prod_wrapper{
  padding-left: 25px;
  min-height: 500px;
  min-height: 100vh;
}
  .grid{
    height: 1260px;
    width: 95%;
    margin: 100px auto 100px;
    padding-left: 2%;
  }
  .prod_tile_large{
      background-size: contain;
  background-repeat: no-repeat;
  padding: 7px;
  text-align: center;
  display:block;
  background-color: white;
  float:left;
  height: 420px;
  width: 420px;
  border:0;
  margin: 0 !important;
  }
  .prod_tile_small{
      background-size: contain;
  background-repeat: no-repeat;
  padding: 7px;
  text-align: center;
  display:block;
  background-color: white;
  float:left;
  height: 210px;
  width: 210px;
  border: 0;
  margin: 0 !important;
  }
 
  .prod_tile4, .envi_tile{
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    border:8px solid #eeeeee ;
    background-size: cover;
  }
  .prod_wrapper{
    background-color: #eeeeee!important;
  }


  .slide_out{
   
   opacity: 0;
    display: none;
  }
  .details_right{
     position: absolute;
    left: 0px;
    width: 406px;
    top: 0px;
    border: thin solid darkgray;
    height: 194px;    
    z-index: 2;
    background-color: white;
    /*opacity: 0;
    display: none;*/
    
  }
  .details_left{
     position: absolute;
    left: -210px;
    width: 405px;
    top: 0px;
    border: thin solid darkgray;
    height: 194px;    
    z-index: 2;
    background-color: white;
    
    
  }
 .preview_img{
  position: absolute;
  left: 0;
  top: 0;
  /*background-color: lightblue;*/
  width: 200px;
  height:192px;
  background-size: cover;
  background-repeat: no-repeat;
 }
 .prod_tile_small .preview_img{
    background-position-y: -3px;
    background-position-x: -3px;  
  }
 .preview_text{
  position: absolute;
    left:203px;
  background-color: white;
  width:200px;
  height: 192px;
  text-align: left;
  padding-left: 0;
 }
 .preview_text a{
  color: black;
  text-align: left;
  padding-left: 0;
 }
 .details_left .preview_text{

  background-color: white;
  left:0;
  padding-left: 1em;
 }
 .details_left .preview_img{
  /*background-color: lightblue;*/
  left: 203px;
  padding-left: 0;
  background-size: cover;
  width: 200px;
 }
 ul.links_list{
  list-style: none;
  font-size: 14px;
  padding: 0;
  /*padding-left: 2em;*/
  margin: 0;
  text-align: left;
 }
 .list_wrapper ul .links_list li{
  margin:0;
 }
 .links_list li a{
  color: gray;
 }

.tall_slide_out.details_right, .tall_slide_out.details_left {
  width: 614px;
  height:404px;
  }
.tall_slide_out .preview_img{
  width: 404px;
  height:392px;
 }
 .tall_slide_out .preview_text{
  left:403px;
 }
 .tall_slide_out.details_left .preview_text{
  left:0;
 }


</style>
<%= render "collection_view_nav"%>
<div class="prod_wrapper">
  <div class="list_wrapper">
    <!-- <h3 id="subtype_list_name">%= @style.name %> </h3> -->
    <div class="grid">
    <ul class="style_list prod_list">
      <% envcount= 0 %>
      <% @style.products.order(:id).each_with_index do |product, i| %>
            <% tile_size = product.display_size_for_collection %>
            <% if tile_size == 'large' %>

                <% bgimage= product.image.url %>
                <% bgsize = "420px" %>

                 <li class ="prod_tile_large prod_tile4 grid-item" 
                style="background-image: url(<%= bgimage %>);" data-filterValues="<%=product.filter_value_names.join(' ').downcase%>" data-category="<%= product.product_type.id %>">

                  <div class="tall_slide_out slide_out" >
                    <%= link_to(product_path(product), class:"")  do %>
                      <div class="preview_img" style="background-image: url(<%= bgimage %>)">
                      </div>
                    <% end %>   
                    <div class="tall_preview_text preview_text">
                      <%= link_to(product_path(product), class:"")  do %>
                         <h4 id>
                           <%= product.name.capitalize %>
                         </h4>
                      <% end %>
                      <div class="tall_preview_links preview_links">
                        <ul  class='links_list'>
                          
                          <li>
                            <%= form_tag favorites_path, method: 'post' do %>
                              <%= hidden_field_tag :product_id, product.id %>
                              <%= submit_tag 'Add to Favorites', class:'favorite' %>
                            <% end %>
  
                         </li>
                          <li><a href="#">
                            Spec Sheet</a></li>
                          
                          <li><a href="#">3D/2D Renderings</a></li>
                          <li><a href="#">Installation Guide</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>


            <% else %>
              <% bgimage= product.image.url(:medium) %>
              <% bgsize = "210px" %>

              <li class ="prod_tile_small prod_tile4 grid-item" 
              style="background-image: url(<%= bgimage %>);" data-filterValues="<%=product.filter_value_names.join(' ').downcase%>" data-category="<%= product.product_type.id %>">

              <!--   <div class="prod_title">
                  %= product.name %>
                </div> -->
              
                <div class="slide_out" >
                  <%= link_to(product_path(product), class:"")  do %>
                    <div class="preview_img" style="background-image: url(<%= bgimage %>)">
                    </div>
                  <% end %> 
                  
                     
                  <div class="preview_text">
                    <%= link_to(product_path(product), class:"")  do %>
                       <h4>
                         <%= product.name.capitalize %>
                       </h4>
                    <% end %>
                    <div class="preview_links">
                      <ul  class='links_list'>
                         
                         <li>
                            <%= form_tag favorites_path, method: 'post' do %>
                              <%= hidden_field_tag :product_id, product.id %>
                              <%= submit_tag 'Add to Favorites', class:'favorite' %>
                            <% end %>
  
                         </li>
                          
                          <li><a href="#">
                            Spec Sheet</a></li>
                          
                          <li><a href="#">3D/2D Renderings</a></li>
                          <li><a href="#">Installation Guide</a></li>
                        </ul>
                    </div>


                  </div>
                </div>
                    
                
              </li>




            <% end %>

            <% if i>1 && i%5 == 0 %>
             
              <% if envcount < @envi.length %>
                <li class ="prod_tile_large prod_tile4 envi_tile grid-item" 
                style="background-image: url(<%= @envi[envcount] %>)">
    
                </li>
                <% envcount += 1 %>
                
              <% end %>
              
              
      
          
         

         

        <% end %>
            
        
      <% end %>
    </ul>
    </div>
  </div>
  
</div>

<script>
  // $('.side_nav').css('display','none');
  $('#content_wrapper').css('background-color','white');
  $('#content_wrapper').css('box-shadow','none');
  $('#content_wrapper').css('width','100%');
  $('#content_wrapper').css('padding-bottom','10em');
  $('body').css('background-color','#eeeeee');
  // $('#l_nav').css('display','none');
  $('.r_col').css('display','none');
  $('#center_main').removeClass('col-lg-8');
  $('#center_main').removeClass('col-sm-8');
  $('#center_main').addClass('col-sm-12');
  $('#center_main').css('background-color','white');



    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 70
});

  var config = {    
     over: show_slideout, // function = onMouseOver callback (REQUIRED)    
     timeout: 70, // number = milliseconds delay before onMouseOut    
     interval: 50, // number = milliseconds delay before trying to call over    
     out: hide_slideout // function = onMouseOut callback (REQUIRED)    
  };

  

  $('.prod_tile4').hoverIntent(config);

 
  function show_slideout(){    
    //pseudo
    //check page position
    //apply a class to slideout (giving it its size and left value (+ determine it's layout)
    // make it visible..
    var sl = $(this).find('.slide_out');
     var pageX = $(this).position().left;
     var tileWidth = $(this).width();
     var gridWidth = $('.grid').width();
    var isBig = false;
    if ($(this).hasClass('prod_tile_large')){
      isBig = true;
    }


    if(gridWidth-pageX < tileWidth*2){
     
        sl.addClass('details_left');

    }else{
      if (isBig){
        // console.log('isBigR');
        sl.addClass('details_right');
      }else{
        sl.addClass('details_right');
      }
    }

    sl.show();
    // sl.animate({
    //   opacity: '1',
    // });
    sl.css('opacity','1');
    
    $(this).addClass('hovers');
    $(this).css('z-index','2');

  }
  function hide_slideout(){
    // console.log("hovering")
    
    
     var bl = $(this).find('.slide_out');
     bl.animate({
      // right: '50px',
      opacity: '0'

    }, hidebl);
     $(this).css('z-index','1');
    function hidebl(){
       bl.hide();
    
     bl.removeClass('hovers');
     bl.removeClass('details_left');
     bl.removeClass('details_right');
     
    };
    // bl.hide();
    
    //  bl.removeClass('hovers');
    //  bl.removeClass('details_left');
    //  bl.removeClass('details_right');

     // bl.hide();
     // bl.css('opacity','0');
    
  }

  </script>