
<style>
  .prod_tile2{
      background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;
  display:block;
  background-color: white;
  float:left;
  height: 30em;
  width: 30em;
  border:0;
  margin: 0 !important;
  }
  .prod_tile3{
      background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;
  display:block;
  background-color: white;
  float:left;
  height: 15em;
  width: 15em;
  border: 0;
  margin: 0 !important;
  }
  .prod_tile4, .envi_tile{
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    border:8px solid #eeeeee ;
  }
  .prod_wrapper{
    background-color: #eeeeee!important;
  }
  .slide_out{
   
    position: absolute;
    left: 8px;
    width: 405px;
    top: 8px;
    border: thin solid darkgray;
    height: 194px;    
    z-index: 2;
    background-color: white;
    opacity: 0;
    display: none;
    
  }
 

</style>
<%= render "layouts/collection_view_nav"%>
<div class="prod_wrapper">
  <div class="list_wrapper">
    <!-- <h3 id="subtype_list_name">%= @style.name %> </h3> -->
    <div class="grid">
    <ul class="style_list prod_list">
      <% envcount= 0 %>
      <% @style.products.each_with_index do |product, i| %>
          
            <% bgimage= product.image.url(:medium) %>
            <% bgimage2= product.image.url %>
            
        <% if i%6 == 0 %>
            <%= link_to(product_path(product), class:"prod_title_link grid-item")  do %>

              <li class ="prod_tile2 prod_tile4 " 
              style="background-image: url(<%= bgimage2 %>); background-size:contain" data-filterValues="<%=product.filter_value_names.join(' ').downcase%>" data-category="<%= product.product_type.id %>">
  
             
              <!-- <div class="slide_out">
               <h4>test text 1</h4>
              </div>
 -->
              </li>
            <% end %>

        <% elsif i>1 && i%7 == 0 %>
             <!-- <li class ="prod_tile3 prod_tile4 " 
              style="background-image: url(<%= bgimage %>);" data-filterValues="<%=product.filter_value_names.join(' ').downcase%>" data-category="<%= product.product_type.id %>">

              <div class="slide_out">
               <h4>test text 1</h4>
              </div>

  
              
              </li>
              % if envcount < @envi.length %>
                <li class ="prod_tile2 envi_tile grid-item" 
                style="background-image: url(<%= @envi[envcount] %>)">
    
                </li> -->
                <% envcount += 1 %>
              <!-- % end %> -->
              
              
        <% else %>
          <%= link_to(product_path(product), class:"prod_title_link grid-item")  do %>
           <li class ="prod_tile3 prod_tile4" 
              style="background-image: url(<%= bgimage %>);" data-filterValues="<%=product.filter_value_names.join(' ').downcase%>" data-category="<%= product.product_type.id %>">

            <!--   <div class="prod_title">
                %= product.name %>
              </div> -->
            
            <div class="slide_out" >
               <h4>test text 1</h4>
            </div>
            </li>

          <% end %>

        <% end %>
      <% end %>
    </ul>
    </div>
  </div>
  
</div>

<script>
  // $('.side_nav').css('display','none');
  $('#content_wrapper').css('background-color','white');
  $('#content_wrapper').css('box-shadow','none');
  $('#content_wrapper').css('width','100%');
  $('#content_wrapper').css('padding-bottom','10em');
  $('body').css('background-color','#eeeeee');
  // $('#l_nav').css('display','none');
  $('.r_col').css('display','none');
  $('#center_main').removeClass('col-lg-8');
  $('#center_main').removeClass('col-sm-8');
  $('#center_main').addClass('col-sm-12');
  $('#center_main').css('background-color','white');



    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 70
});

  var config = {    
     over: show_slideout, // function = onMouseOver callback (REQUIRED)    
     timeout: 100, // number = milliseconds delay before onMouseOut    
     interval: 250, // number = milliseconds delay before trying to call over    
     out: hide_slideout // function = onMouseOut callback (REQUIRED)    
  };

  

  $('.prod_tile4').hoverIntent(config);

 
  function show_slideout(){
    // console.log("hovering")
    
    
     sl = $(this).find('.slide_out');
     sl.show();
    // sl.animate({
      
    //  // width: ''
    //   opacity: '0.9',
    // });
    $(this).addClass('hovers');
  }
  function hide_slideout(){
    // console.log("hovering")
    
    
     bl = $(this).find('.slide_out');
     bl.removeClass('hovers');
     bl.removeClass('#hovering');
     bl.hide();
     bl.css('opacity','0');
    // bl.animate({
    //   // right: '50px',
    //   opacity: '0'
    // });
  }

  </script>