
  <div class="panel panel-default">
    <div class="panel-sub-heading" >
      <div class="panel-title" id="<%= product_sub_type.name.gsub(' ','_') %>">
        <div class="checkbox">
          
            <% if controller_name == 'products' && action_name == 'show' %>
             <!--  <label>
              %= link_to product_sub_type.name , product_sub_type_path(:id => product_sub_type.id ) %>  -->
              <!-- UNDID it ... fix it -->
              <label data-toggle="collapse" data-parent="#acordion<%= product_sub_type.product_type.id%>" href="#collapse<%= product_sub_type.product_type.id%>_<%= product_sub_type.id%>">
               <%= link_to product_sub_type.name , fetch_items_path(:cat_id => product_sub_type.id ), :remote => true %> 
            <% else %>
              <label data-toggle="collapse" data-parent="#acordion<%= product_sub_type.product_type.id%>" href="#collapse<%= product_sub_type.product_type.id%>_<%= product_sub_type.id%>">

              <%= link_to product_sub_type.name , fetch_items_path(:cat_id => product_sub_type.id ), :remote => true %> 
            <% end %>
          </label>
        </div>  
      </div>
    </div>
    <div id="collapse<%= product_sub_type.product_type.id%>_<%= product_sub_type.id%>" class="panel-collapse collapse">
      <div class="panel-body filter">
        
        <%= render product_sub_type.filters_ordered %>
      </div>
    </div>
  </div>
<!-- </div> -->


