<% if product_sub_type.products.length >= 1 %>
  <div class="panel panel-default">
    <div class="panel-sub-heading" >
      <div class="panel-title" id="<%= product_sub_type.name.gsub(' ','_') %>">
        <div class="panel_title_div">
        <% if product_sub_type.product_type.name == 'Wallpaper'%>
            <label >
            <%= link_to product_sub_type.name, product_path(product_sub_type.main_product.first) %>
            </label>
  
          <% else %>
          <label data-toggle="collapse" data-parent="#acordion<%= product_sub_type.product_type.id%>" href="#collapse<%= product_sub_type.product_type.id%>_<%= product_sub_type.id%>">
            

            <%= link_to product_sub_type.name , fetch_items_path(:cat_id => product_sub_type.id ), :remote => true %>

            
          </label>
          <% end %>
        </div>  
      </div>
    </div>
    <div id="collapse<%= product_sub_type.product_type.id%>_<%= product_sub_type.id%>" class="panel-collapse collapse">
      <div class="panel-body filter">
        
        <%# <%= render product_sub_type.filters_ordered, :sub_type => product_sub_type %1> %>
        <%= render partial: 'filters/filter',
        collection:  product_sub_type.filters_ordered,
        locals: { sub_type: product_sub_type } %>
         
      </div>
      <button class="hide-dropdowns">view selection</button>
    </div>
  </div>
  <% end %>
<!-- </div> -->


