<div class="col-md-4">
  <p><%= showroom.header %></p>
  <h2><%= showroom.name %></h2>
  <%= simple_format(showroom.address) %>
  <p><%= showroom.phone %><br />
  <%= showroom.fax %></p>
  <p><%= showroom.website %></p> 
  <ul class="email-list">
    <% showroom.emails.each do |email| %>
      <li><%= email %></li>
    <% end %>
  </ul>
</div>
