<div class="showrooms-wrapper">
  <h3>Showrooms</h3>
  <p>Regional Offices</p>
  <div class="regional-offices">
    <ul>
      <% @regional_offices.each do |regional_office| %>
        <li>
          <%= regional_office.regional_office_label %>: <%= regional_office.phone_numbers.first %> 
        </li>
      <% end %>
    </ul>
  </div>

 <div id="new-canvas" >
    <canvas id="canvas" width="900" height="408"></canvas>
  </div>


  <div class="row regions">
    <ul>

      <% @regions.each do |region| %>
        <li>
          <h3>
            <%= link_to region.name, anchor: region.name %>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>

  <% @regions.each do |region| %>
    <div class="showrooms-list row">
      <%= content_tag(:h3, "Showrooms in #{region.name}", id: region.name) %>
      <% region.showrooms.in_groups_of(3, false) do |showrooms| %>
        <div class="row">
          <% showrooms.each do |showroom| %>
            <%= render showroom %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');

  draw();
  mousePosition();

  
  function draw() {
    
    var bg_img = new Image();
    
    bg_img.onload = function(){
      var width = canvas.scrollWidth;
      var height = canvas.scrollHeight;
      ctx.drawImage(bg_img,0,0, width, height);
     
    };
    bg_img.src = '/images/map/map_bg.jpg';
  }

  function mousePosition(){
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
      }

      canvas.addEventListener('mousemove', function(evt) {
        var mousePos = getMousePos(canvas, evt);
        var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
        console.log(canvas, message);
      }, false);
  }
</script>
