<h1>Edit a product group</h1>
<%= @product_group.number %>
<%= form_for(@product_group, multipart: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :number %>
  <%= f.text_field :number, class: 'form-control' %>
  <p>
  <%= field_set_tag "Finishes" do %>
    <%= f.collection_check_boxes(:finish_ids, Finish.all, :id, :name) do |fin| %>
      <% fin.label(class: "checkbox inline") {fin.check_box + fin.text} %>
    <% end %>
  <% end %>
  </p>
  <%= field_set_tag "Materials" do %>
    <% @material_types.each do |material_type|  %>
      <%= field_set_tag material_type do %>
        <%= f.collection_check_boxes(:material_ids, Material.where(material_type: material_type), :id, :name) do |fin| %>
          <% fin.label(class: "checkbox inline") {fin.check_box + fin.text} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.submit 'save changes' %>
<% end %>


