<h1><%= @product_group.name %></h1>
<% if admin? %>
  <p>
  <%= link_to 'edit me', edit_product_group_path(@product_group.id) %>
  <%= link_to 'delete me', product_group_path(@product_group.id), method: 'delete', data: { confirm: "Are you sure?" } %> 
  </p>
<% end %>
<p>
<%= @product_group.number %>
</p>
<h3>Other Images</h3>
<ul>
  <% @product_group.products.each do |product| %>
  <li><%= product.name %> : <%= product.number %></li>
  <% end %>
</ul>
<%= render 'product_group_info' %>
<div class='tearsheet-form-box'>
  <form action="#">
    <%= hidden_field_tag('product_group_id', @product_group.id) %>
    <%= hidden_field_tag('product_base_number', @product_group.base_number) %>
    <%= collection_select(:product, :material_id, @product_group.materials, :id, :name) %>
    <%= collection_select(:product, :finish_id, @product_group.finishes, :id, :name) %>
    <%= collection_select(:product, :china_color_id, @product_group.china_colors, :id, :name) %>
    <%= submit_tag("generate tear sheet", class:'tear-sheet-submit') %>
  </form>
</div>
