<h1><%= @product_group.name %></h1>
<p>
<%= link_to 'edit me', edit_product_group_path(@product_group.id) %>
</p>
<p>
<%= @product_group.number %>
</p>
<h3>Other Images</h3>
<ul>
  <% @product_group.products.each do |product| %>
  <li><%= product.name %> : <%= product.number %></li>
  <% end %>
</ul>
<h3>Finishes</h3>
<ul>
  <% @product_group.finishes.each do |finish| %>
    <li><%= finish.name %></li>
  <% end %>
</ul>
<h3>Materials</h3>
<ul>
  <% @product_group.materials.each do |material| %>
    <li><%= material.name %></li>
  <% end %>
</ul>
<div class='tearsheet-form-box'>
  <form action="#">

    <%= collection_select(:product, :material_id, @product_group.materials, :id, :name) %>
    <%= collection_select(:product, :finish_id, @product_group.finishes, :id, :name) %>
    <%= submit_tag("generate tear sheet", class:'tear-sheet-submit') %>
  </form>
</div>
