<% if @full_name %>
  Dear <%= @full_name %>
  <% end %>
<p>
Customer's email: <%= @requesters_email %>
</p>
<p>
Location: <%= @requesters_location %>
</p>
<p>
Customer Comments:
</p>
<p>
<%= @requesters_comment %>
</p>

Favorites:
<% @favorites.each do |fav| %>
  <p><%= fav %></p>
<% end %>

<% if @favorites.count == 0 %> 
  <%= "Customer has not selected any favorites." %>
<% end %>
