<div class="options">
  <!-- <div class="finishes"> -->
    <% if @product.finishes.length >= 1 %>
    <div class="finishes swatches">
    <h3 class='choice_title'>Finish</h3>
    
    <ul id="product_finishes_list" class="detail_list">
       
      <% @finishes.each do |finish| %>
        <% unless finish["name"] == 'non finish' %>
        
          <li class="prod_tile finish_tile", data-finish_identifier="<%= finish["identifier"] %>", style="background-image: url(<%= finish["swatch"] %>);">
            <!-- <p class="swatch_name">
              %= finish.name %> 
            </p> --><div class="swatch_div"><%= finish["name"] %> </div>

          </li>
        <% end %>  <!-- finish.image -->
      <% end %>
    </ul>
  </div>
  <% end %>
  <!-- <div class="materials"> -->
    <% if @product.materials.length >= 1 %>
    <div class="materials swatches">
      <% if @product.finishes.length >= 1 %>
      <h3 class='choice_title'>Detail</h3>
      <% else %>
      <h3 class='choice_title'>Materials</h3>
      <% end %>
    
    <ul id="product_materials_list" class="detail_list">
      
      <% @product.materials.each do |material| %>
        <li class="prod_tile finish_tile", data-material_identifier="<%= material.identifier %>">
          <p class="swatch_name">
            <%= material.name %>
          </p><div class="swatch_div"> <%= material.name %> </div>
        </li>
        <!-- material.image -->
      <% end %>
    </ul>
  </div>
  <% end %>
  <!-- <div class="china_colors"> -->
  <% if @product.china_colors.length() >= 1 %>
  <div class="china_colors swatches">
    <h3 class='choice_title'>China Color</h3>
    <ul id="product_china_list" class="detail_list">
      <% @product.china_colors.each do |china_color| %>
        <% unless china_color.name == 'no name' %>
          <li class="prod_tile finish_tile  ", data-material_identifier="<%= china_color.identifier %>">
            <p class="swatch_name">
              <%= china_color.name %>
            </p><div class="swatch_div"><%= china_color.name %> </div>
          </li>
          <!-- china_color.image -->
        <% end %>
      <% end %>
  


  </ul>
  </div>
  <% end %>
</div>

