
<div class="prod_page_content">





  <div class="images">   
    <div class="product_image" style="background-image:url(<%= @product.image.url%>)" data-url= '<%= @product.image.url %>' ></div>  
    <!-- image_tag @product.image.url(:medium), class: 'product-image' %> -->
    <% if @product.product_configurations.count > 1 %>
    <div class="image_list">

      <ul id="alt_imgs">
        <% @product.product_configurations.each do |config| %>
        <li class="alt_img" data-url= '<%= config.image.url %>' >
          <%= image_tag config.image.url(:thumb) %> <br/>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %> 
  </div>
  
  <div class="product_info">
    <div class="prod-text">
      <h3 id="prod_name">
        <%= @product.name%>
      </h3>

      <% if @product.product_configurations.length > 0 %>
      <h4 class="prod-config-description">
        <span id="shown">shown:</span> <span id="description"> <%= @product.product_configurations.first.description %></span>
      </h4>
      <h5 class="prod-config-number">
         <%= @product.product_configurations.last.number %>
      </h5>
      <% end %>

      <% if admin? %>
    <%= link_to 'edit product', edit_product_path %>
    
  <% end %>
    </div>


    
    <div class="associated">
      
    </div>
    <div class="centered">
      <div class="tearsheet_wrapper">
        <div class="options">
          <% if @product.finishes.length >= 1 %>
          <div id="finish_choice" class="option_box">

          </div>
          <% end %>

          <% if @product.materials.length >= 1 %>
          <div id="material_choice" class="option_box">

          </div>
          <% end %>
          

          
          
        </div>
        
      </div>

      <div class="prod_links">
        <ul id="links1" class='links'>
          <li>Collection: <%= link_to @product.associated_collection_or_null.name, style_path(@product.associated_collection_or_null.id) %></li>
          <li><%= render 'tearsheet_form' %></li>
          <li><%= render 'favorites/favorite_button' %></li>
          

          
        </ul>
        <ul id="links2" class='links'>
          <li>Spec Sheet</li>
          <li>3D/2D Renderings</li>
          <li>Installation Guide</li>
          
      </div>
    </div>
    
  </div>
  


  


  <div class="product_info2">


    <%= render 'product_info' %>


    <div class="compilations">
      <% if @product.compilations.size > 0 %>
      <p>
        Compilations:
      </p>
      <ul id="compilations_list" class="comp_list links">
        <% @product.all_compilations.each do |compilation| %>
        <li><%= link_to(compilation.name, product_path(compilation))  %>
        </li>
        <% end %>
      </ul>

      <% end %>
    </div>
    <div class="components">
      <% if @product.all_components.size > 0 %>
      
        
      
      <ul id="components_list" class="comp_list links">
        <p> Components:</p>
        <% @product.all_components.each do |component| %>
          <% if component.class.name == "Product" %>
            <li data-configurations="<%= component.compilations_number_string %>"><%= link_to(component.name, product_path(component))  %>
          <% else %>
            <li data-configurations="<%= component.compilations_number_string %>"><%= component.name %>
          <% end %>
        </li>
        <% end %>
      </ul>

      <% end %>

  </div>
  <br/>

</div>
