<h1>Product page</h1>
<h2><%= @product.name %></h2>
<p>Number: <%= @product.number %></p>
<p>Long Description: <%= @product.long_description %></p>
<p>image:</p>
<%= image_tag @product.image.url %>
<%= image_tag @product.image.url(:medium) %>
<%= image_tag @product.image.url(:thumb) %>
<p>Finishes:</p>
<ul>
  <% @product.finishes.uniq.each do |finish| %>
    <li><%= finish.name %> </li>
  <% end %>
</ul>
<p>Inserts:</p>
<ul>
  <% @insert_types.each do |insert_type| %>
    <li><%= insert_type %></li>
      <ul>
        <% @product.inserts_of_type(insert_type).each do |insert| %>
          <li><%= insert.name %></li>
        <% end %>
      </ul>
    <% end %>
</ul>
<p>materials:</p>
<ul>
  <% @material_types.each do |material_type| %>
    <li><%= material_type.name %></li>
      <ul>
        <% @product.materials_of_type(material_type).each do |material| %>
          <li>material.name</li>
        <% end %>
      </ul>
    <% end %>
</ul>
<ul>
  <% @product.materials.uniq.each do |material| %>
    <li><%= material.name %> </li>
  <% end %>
</ul>
<p>Genres</p>
<ul>
  <% @product.genres.uniq.each do |genre| %>
    <li><%= genre.name %> </li>
  <% end %>
</ul>
<p>Styles</p>
<ul>
  <% @product.styles.uniq.each do |style| %>
    <li><%= style.name %> </li>
  <% end %>
</ul>
<p>Filters:</p>
<ul>
  <% @product.filter_values.each do |filter_value| %>
    <li><%= filter_value.filter.name %>: <%= filter_value.name %></li>
  <% end %>
</ul>
<p>Associated Products:</p>
<ul>
  <% @associated_products.each do |associated_product| %>
    <li><%= associated_product.number %>
    </li>
  <% end %>
</ul>
