
<div class="prod_page_content">





  <div class="images">   
    <div class="product_image" style="background-image:url(<%= @product.image.url%>)" ></div>  
    <!-- image_tag @product.image.url(:medium), class: 'product-image' %> -->
    <div class="image_list">

      <ul id="alt_imgs">
        <% @product.product_configurations_except_first.each do |config| %>
        <li class="alt_img" data-url= '<%= config.image.url %>' >
          <%= image_tag config.image.url(:thumb) %> <br/>
        </li>
        <% end %>
      </ul>
    </div> 
  </div>
  
  <div class="product_info">
    <h3>
      <%= @product.name%>
    </h3>

    <% if @product.product_configurations.length > 0 %>
    <h4 class="prod-config-description">
      shown: <%= @product.product_configurations.last.description %>
    </h4>
    <h5 class="prod-config-number">
      product number: <%= @product.product_configurations.last.number %>
    </h5>
    <% end %>


    
    <div class="associated">
      Associated collection: <%= link_to @product.associated_collection_or_null.name, style_path(@product.associated_collection_or_null.id) %>
    </div>

    <div class="prod_links">
      <ul id="links1" class='links'>
        <li><%= render 'favorites/favorite_button' %></li>
        <li>spec sheet</li>

        
      </ul>
      <ul id="links2" class='links'>
      
      <li>installation guide</li>
        <li>renderings</li>
    </div>
    <div class="tearsheet_wrapper">
      <div class="options">
        <% if @product.finishes.length >= 1 %>
        <div id="finish_choice" class="option_box">

        </div>
        <% end %>

        <% if @product.materials.length >= 1 %>
        <div id="material_choice" class="option_box">

        </div>
        <% end %>
        

        
        
      </div>
      <%= render 'tearsheet_form' %>
    </div>
  </div>
  


  


  <div class="product_info2">


    <%= render 'product_info' %>
    <div class="compilations">
      <% if @product.compilations.size > 0 %>
      <p>
        Compilations:
      </p>
      <ul>
        <% @product.compilations.each do |compilation| %>
        <li><%= link_to(compilation.name, product_path(compilation))  %>
        </li>
        <% end %>
      </ul>

      <% end %>
    </div>
    <div class="components">
      <% if @product.components.size > 0 %>
      <p>
        components:
      </p>
      <ul>
        <% @product.all_components.each do |component| %>
          <% if component.class.name == "Product" %>
            <li><%= link_to(component.name, product_path(component))  %>
          <% else %>
            <li><%= component.name %>
          <% end %>
        </li>
        <% end %>
      </ul>

      <% end %>

  </div>
  <br/>

</div>
