
<div class="prod_page_content">
<% if current_user %>
  <%= link_to "Edit", "/admin/product/#{@product.id}/edit" %>
<% end %>
<h5 id='sub_type_name'>
<%= @product.product_sub_type.name %>
</h5>

<div class="prod-text">
<h3 id="prod_name">
<%= @product.name %>

</h3>

<% if admin? %>
      <%= link_to 'edit product', edit_product_path %>
    
     <% end %>
    </div>


  <div class="images">   
    <% image_div_class = "product_image_square" %>
    <% if @product.image_type == "tall" %>
      <% image_div_class = "product_image_tall" %>
    <% end %>

    <div class="product_image <%= image_div_class %>" style="background-image:url(<%= @product.first_image.url%>)" data-url= '<%= @product.first_image.url %>' data-bw = '<%= @product.image.url %>' data-number = '<%= @product.product_configurations.first.number %>' >
      <div class="config_info">
        <% if @product.components.length() < 1 %>
        <h5 class="prod-config-number">
          
            <%= @product.product_configurations.last.number %>
          
          
      </h5> 
      <% end %>
        <% if @product.product_configurations.length > 1 %>
      <div class="prod-config-description">
        <h5>
        <span id="description"><%= @product.product_configurations.first.description %></span>
        </h5>
      </div>
    <% end %>
      
    </div>

    </div>  
    
  </div>
    

    <% if @product.has_configuration_subtitles %>
    <h4 id="prod_subtitle">
      <%= @product.product_configurations.first.subtitle %>
    </h4>
    <% end %>
  
  
  
  <div class="product_info">
    
   
    <% if @product.all_components.size > 1 %>
      <div class="components">
    
        <ul id="components_list" class="comp_list links">
          <span id="components"><h4>Components:</h4></span>
          <% @product.all_components.each do |component| %>
            <% if component.class.name == "Product" %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= link_to(component.name, product_path(component))  %> : <%= component.number  %>
            <% else %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= component.name %>
            <% end %>
          </li>
          <% end %>
          <a  id='see_all' class='expander'><b>...See all</a></b>
          <a  id='hide_all' class='expander' style='float:right; padding-top:8px'><b>Collapse</a></b>
        </ul>
      </div> 

    <% end %>
   

    
 


    
    <div class="centered">
      <% if @product.finishes.length >= 1 || @product.materials.length >= 1 %>
        <div class="tearsheet_wrapper">
          <div class="options previews">
            <% if @product.finishes.length >= 1 %>
            <div id="finish_choice" class="option_box">

            </div>
            
            <% end %>

            <% if @product.materials.length >= 1 %>
            <div id="material_choice" class="option_box">

            </div>
            <% end %>
             
          </div>
          
        </div>
      <% end %>

      <div class="prod_links">
        <ul id="links1" class='links'>

          <li><%= render 'tearsheet_form' %></li>
          <li>Installation Guide</li>
          <li><%= render 'favorites/favorite_button' %></li>
           <% if @product.associated_collection_or_null.id > 0 %>
           <br/>
            <li>Collection: <%= link_to @product.associated_collection_or_null.name, style_path(@product.associated_collection_or_null.id) %></li>
          
          <% end %>
          
        </ul>

        <ul id="links2" class='links'>
          
          <li><%= link_to "3D Renderings", @product.spec_sheet_2d.url %></li>
          <li><%= link_to "2D Renderings", @product.spec_sheet_2d.url %></li>
          <li><%=link_to "Spec Sheet", @product.spec_sheet_pdf.url, target: '_blank' %></li>
           
          </ul>
      </div>
    </div>

    
    
  </div>
  
  <div class="image_list">
    <% if @product.has_configurations_or_associated_products? %>
      
      <ul id="alt_imgs" class="<%= @list_width %>">
        <% @product.product_configurations.each do |config| %>
          <% if current_user || !config.image.url.include?('missing') %>
            <li class="alt_img" data-url= '<%= config.image.url %>' data-description= '<%= config.description %>' data-subtitle= '<%= config.subtitle %>' data-number= '<%= config.number %>'>
              <%= image_tag config.image.url(:thumb) %> <br/>
            </li>
          <% end %>
        <% end %>

        
      </ul>
      <% if @product.associated_products.length >= 1 %>
        <ul id="assoc_imgs">
          <li><h5 id="similar_label">Similar Products</h5></li>
          <% @product.associated_products.each do |assoc_prod| %>
            <li class="assoc_img">
              <%= link_to assoc_prod do %>
                <%= image_tag assoc_prod.product_configurations.first.image.url(:thumb) %><br />
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %> 


    <% end %> 
  </div>
  


  


  <div class="product_info2">


    <%= render 'product_info' %>


    <div class="compilations">
      <% if @product.compilations.size > 0 %>
      <h4>
        Compilations:
      </h4>
      <ul id="compilations_list" class="comp_list links">
        <% @product.all_compilations.each do |compilation| %>
        <li><%= link_to(compilation.name, product_path(compilation))  %>
        </li>
        <% end %>
      </ul>

      <% end %>
    </div>
    
  </div>
  <br/>

</div>

