<h1>Product page</h1>
<h2><%= @product.name %></h2>
<p>Number: <%= @product.number %></p>
<p>Long Description: <%= @product.long_description %></p>
<p>image:</p>
<%= image_tag @product.image.url %>
<%= image_tag @product.image.url(:medium) %>
<%= image_tag @product.image.url(:thumb) %>
<p>materials:</p>
<ul>
  <% @product.materials.uniq.each do |material| %>
    <li><%= material.name %> </li>
  <% end %>
</ul>
<p>Colors:</p>
<ul>
  <% @product.colors.uniq.each do |color| %>
    <li><%= color.name %> </li>
  <% end %>
</ul>
<p>Genres</p>
<ul>
  <% @product.genres.uniq.each do |genre| %>
    <li><%= genre.name %> </li>
  <% end %>
</ul>
<p>Styles</p>
<ul>
  <% @product.styles.uniq.each do |style| %>
    <li><%= style.name %> </li>
  <% end %>
</ul>
<p>Associated Products:</p>
<ul>
  <% @associated_products.each do |associated_product| %>
    <li><%= associated_product.number %>
    </li>
  <% end %>
</ul>
