<div class="prod_wrapper">
  <h1>Product page</h1>
  <p>
  <%= @product.name%>
  </p>
  <p>
  <%= @product.number %>
  </p>
  Existing images:
  <ul>
    <% @product.product_configurations.each do |config| %>
      <li><%= config.number %></li>
    <% end %>
  </ul>
  <%= render 'product_info' %>
  <%= render 'tearsheets_form' %>
</div>
