
<style>
  #tearsheet_number{
    float: left;
    padding-left: 1.2em;
  }
  .navvy{
    display: none;
  }
 #logo{
  width: 20%;
 }
  nav div#nav_link_contain{
    display: none !important;
  }
  .product_image{
    text-align: center;
  }
   .previews{
    margin-top: 2em;
    width: 115%;
  }
  .option_box{
        width: 150px;
    height: 150px;
  }
  
  .centered{
    padding-left: 2em;

  }

  .m_name{
    margin-top: 0;
  }

#tear_l_nav {
    max-width: 10% !important;
    min-width: 0 !important;
}
.product_image{
  border:none;
}
.size_img{
  width:100%;
  height: 100%;
}
.option-img{
  position: relative;
  height: 100%;
}
.config_info{
  background: rgba(255,255,255,0);
}
#components_list{
  position: relative;
}
.product_info{
  padding-left: 8%;
}
#components_list {
    margin-bottom: 1.5em;
    float: left;
    padding-top: 0;
    position: relativ;
    padding-left: 0;
    opacity: 0.95;
    font-size: 12px;
    width: 100%;
    /* border: thin solid #eeeeee; */
}
.components {
    height: 3.5em;
    margin-bottom: 1em;
    clear: left;
     padding-left:0; 
}
.centered{
  padding-left: 0;
}
#tear-config-number{
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;

    min-height: 1.5em;
  
      float: right;
    width: 50%;
    padding-left: 60px;
}
#sub_type_name{
  float: right;
    width: 50%;
    padding-left: 60px;
}
#number{
  clear: both;
    padding-left: 1.5em;
}
#sub_type_name {
  float: left;
  padding-left: 18px;
  }
i.fa.fa-print {
float: right;
  }
  .name{
    text-align: center;
    /*display: none;*/
  }
  .swatch_name {
    background-color: rgba(0,0,0,0.7);
    margin-top: -32%;
  }

  @media print{
    .name{
    
    display: block;
  }
  .swatch_name {
    position: absolute;
    padding-left:4px;
    background-color: white;
    margin-top: 0;
    padding-top: 2px;
  }
  .highlight{
    outline: 2px gray solid;
  }
  .finish_tile{
    margin-top: 6px;
  }
    #sub_type_name {
    padding-left: 0;
    }
    h5#prod_subtitle{
      float: left;
      padding-left: 0;
    }
    i.fa.fa-print {
      display: none;
    }
    .product_image{
      /*width: 400px;*/
      /*height: auto;*/
    }
    .option_box{
        width: 100px;
    height: 100px;
    }
    .m_name{
    margin-top: 0em;
  }

    .previews{
      clear: none;
      margin-top: none;
    }
    #tearsheet_number{
      padding-left: 0;
      margin-left: 0;
    }
    #tear-config-number{
      float: left;
      width: 100%;
      padding-left: 0;
    }
    .product_info {
    padding-left: 0;
    
    }
    .swatch-img{
      height: 100%;
    }
    #center_main{
      margin-left: 0!important;
    }
    footer{
      display: none;
    }
  }
</style>
<div class="name"><img id="logo" src="/images/Sw_logo.png" alt=""></div>

<div class="prod_page_content">


<div class="prod-text">
  <h5 id='sub_type_name'>
<%= @product.product_type.name+ " > " +@product.product_sub_type.name %>
</h5>
<a href="javascript:window.print()">
  <i class="fa fa-print" aria-hidden="true"></i>
</a>
<br>

      <h3 id="prod_name">

        <%= @name %>
      </h3>

      
    
   
    </div>
  
  <div class="images">   
    <div class="product_image" data-url= '<%= @product.image.url %>' >
      <img id="img_img" class="size_img"src="<%= @config_img %>" alt="">
      <div class="config_info">
        
        <% if @product.product_configurations.length > 1 %>
      <div class="prod-config-description">
         <% description ="" %>
        <% if @product.all_components.length < 1 %>
          <% description = @product.product_configurations.first.description %>
        <% end %>
        
      
        <h5>
        <!--  <span id="shown">shown:</span> --> <span id="description"><%= description %></span>
        </h5>
      </div>
    <% end %>
      
    </div>

    </div>  
      
    
  </div>
   <h4 id="tear-config-number">
          <% if @product.all_components.length < 2 %>
          <%= @tearsheet_number %>

        <% end %>
         
        </h4> 
   <% if @product.has_configuration_subtitles %>
    <h5 id="prod_subtitle">
      <%= @product.product_configurations.first.subtitle %>
    </h5>
    <% end %>
  
 
  
  <div class="product_info">
    <% if @product.all_components.length < 1 %>  
      <h4 id="tearsheet_number">
          <%= @tearsheet_number%>
      </h4>
    <% end %>


    <div class="centered">
      <div class="tearsheet_wrapper">
        <div class="options previews">
          <% if @product.finishes.length >= 1 %>
          <div id="finish_choice" class="option_box">

          </div>
          <% end %>

          <% if @product.materials.length >= 1 %>
          <div id="material_choice" class="option_box">

          </div>
          <% end %>
          

          
          
        </div>
        
      </div>

      <div class="prod_links">
        <ul id="links1" class='links'>
          <% if @product.associated_collection_or_null.id > 0 %>
          <li>Collection: <%= @product.associated_collection_or_null.name %></li>
          <% end %>

        </ul>

        <% if @product.all_components.size > 1 %>
      <div class="components">
    
        <ul id="components_list" class="comp_list links">
          <span id="components"><h4>Components:</h4></span>
          <% @product.all_components.each do |component| %>
            <% if component.class.name == "Product" %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= component.name  %> : <%= component.number  %>
            <% else %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= component.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div> 

  <% end %>
        
      </div>
      
    </div>

 
  </div>

  <div class="product_info2">


    <%= render 'tear_product_info' %>
 
    <p id="number">1 - (212) 758-3300
</p>
    
  </div>
  <br/>


</div>

<script>



$('.sidenav').css('display','none');
$('#center_main').css('margin-left','12%');


</script>
