
<style>
  #tearsheet_number{
    float: left;
    padding-left: 1.2em;
  }
  .navvy{
    display: none;
  }
  footer{
    display: none;
  }
  nav div#nav_link_contain{
    display: none !important;
  }
   .previews{
    margin-top: 2em;
    width: 115%;
  }
  .option_box{
        width: 150px;
    height: 150px;
  }
  .centered{
    padding-left: 2em;

  }
  .m_name{
    margin-top: 15em;
  }

#tear_l_nav {
    max-width: 10% !important;
    min-width: 0 !important;
}
.size_img{
  width:100%;
  height: 100%;
}
#components_list{
  position: relative;
}

  @media print{
    .option_box{
        width: 120px;
    height: 120px;
    }
    .previews{
      clear: none;
      margin-top: none;
    }
    #tearsheet_number{
      padding-left: 0;
      margin-left: 0;
    }
  }
</style>
<div class="prod_page_content">


<div class="prod-text">
      <h3 id="prod_name">
        <%= @product.name%>
      </h3>
      
    
   
    </div>
  
  <div class="images">   
    <div class="product_image" data-url= '<%= @product.image.url %>' >
      <img id="img_img" class="size_img"src="<%= @config_img %>" alt="">
      <div class="config_info">
        <h5 class="prod-config-number">
         <%= @tearsheet_number %>
      </h5> 
        <% if @product.product_configurations.length > 1 %>
      <div class="prod-config-description">
        <h5>
        <!--  <span id="shown">shown:</span> --> <span id="description">YOOOO</span>
        </h5>
      </div>
    <% end %>
      
    </div>

    </div>  
    
  </div>
    <!-- image_tag @product.image.url(:medium), class: 'product-image' %> -->

    
  
  
  
  <div class="product_info">
    <h4 id="tearsheet_number">
        <%= @tearsheet_number%>
      </h4>

   
    
   

    
 


    
    <div class="centered">
      <div class="tearsheet_wrapper">
        <div class="options previews">
          <% if @product.finishes.length >= 1 %>
          <div id="finish_choice" class="option_box">

          </div>
          <% end %>

          <% if @product.materials.length >= 1 %>
          <div id="material_choice" class="option_box">

          </div>
          <% end %>
          

          
          
        </div>
        
      </div>

      <div class="prod_links">
        <ul id="links1" class='links'>
          <% if @product.associated_collection_or_null.id > 0 %>
          <li>Collection: <%= @product.associated_collection_or_null.name %></li>
          <% end %>
         
          

          
        </ul>
        
      </div>
      
    </div>

 
  </div>


    


  


  <div class="product_info2">


    <%= render 'product_info' %>
  <% if @product.all_components.size > 1 %>
      <div class="components">
    
        <ul id="components_list" class="comp_list links">
          <span id="components"><h4>Components:</h4></span>
          <% @product.all_components.each do |component| %>
            <% if component.class.name == "Product" %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= component.name  %>
            <% else %>
              <li data-configurations="<%= component.compilations_number_string %>"><%= component.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div> 

    <% end %>

    <div class="compilations">
      <% if @product.compilations.size > 0 %>
      <p>
        Compilations:
      </p>
      <ul id="compilations_list" class="comp_list links">
        <% @product.all_compilations.each do |compilation| %>
        <li><%= link_to(compilation.name, product_path(compilation))  %>
        </li>
        <% end %>
      </ul>

      <% end %>
    </div>
    
  </div>
  <br/>

</div>

<script>



$('.sidenav').css('display','none');
$('#center_main').css('margin-left','12%');

  // $('ul#components_list li').slice(1).hide();
  // $('ul#components_list').append("<a  id='see_all' class='expander'><b>...See all</a></b>");
  // $('ul#components_list').append("<a  id='hide_all' class='expander' style='float:right; padding-top:8px'><b>Collapse</a></b>");
  // $('#hide_all').hide();
  // $('#see_all').click(function(){
  //     $('#see_all').hide();
  //     $('ul#components_list li').slice(1).show();
  //     $('#hide_all').show();
  //     $('ul#components_list').addClass('expandComp');
  //   }
  // );
  // $('#hide_all').click(function(){
  //     $('#hide_all').hide();
  //     $('ul#components_list li').slice(1).hide();
  //     $('#see_all').show();
  //     $('ul#components_list').removeClass('expandComp');
  //     // $('ul#components_list').append($('#see_all'));
  //   }
  // );

</script>
