<div class='footer'>
<<<<<<< HEAD
  <div class="footer-links">
    <ul>
      <li>
        Contact Us 
      </li>
      <li> Showroom Locations</li>
      <li>History & Manufacturing</li>
    </ul>
   
  </div>
  <div class="login">
    <% if admin? %>
      <%= link_to 'logout', logout_path %>
      <%= link_to 'add product', new_product_group_path %>
    <% else %>
      <%= link_to 'login', login_path %>

      <%= link_to 'cookies', login_path if !cookies[:favorites].nil? %>

    <% end %>
  </div>


=======
  <% if admin? %>
    <%= link_to 'logout', logout_path %>
    <%= link_to 'add product', new_product_group_path %>
  <% else %>
    <%= link_to 'login', login_path %>
  <% end %>
  <%= link_to 'favorites', favorites_path if !cookies[:favorites].nil? %>
>>>>>>> 8ec255223eef93eca2a911adc8c5de53a68b69cc
</div> 
