<!DOCTYPE html>
<html>
<head>
  <title>Sherlewagner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, "data-turbolinks-eval" => false  %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCimDgFMmcwBv25C0Rp1XtcIv-OS5rbe00&sensor=false">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  


  <script>
  //active nav link
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>
</head>
<body class="<%=controller_name%> <%=action_name%>">

  <%= render "/layouts/navbar" %>
<div class="container-fluid" id='main_contain'>  
  <%# <p class="notice"><%= notice %1></p> %>
  <%# <p class="alert"><%= alert %1></p> %>

    <div class="row content row_content_min" id="row_content">
 <% if controller_name == "styles" && action_name == "index" || controller_name == "styles" && action_name == "show" %>
          <%= yield %>

 <% else %>
      <div class="col-sm-3 col-lg-2 sidenav" id="l_nav">
         <%= render "/layouts/sidebar" %>
      </div>

      <div class=" col-xs-12 col-sm-8 col-md-9 center_min_width"id='center_main'> 
       
                <!-- <div class="contain">-->
          <div id="content_wrapper"> 
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
              <%= yield %>
              
           </div>
                <!--
          
                    </div>   -->
    
<% end %>
      </div>

      <div class="col-md-4 col-lg-2 sidenav r_col">
        <!-- <div class="well"> -->
         <!--  %= render 'recently_viewed_products/recently_viewed_products' % -->
        <!-- </div> -->
        
      </div>
    </div>

</div>


  <%= render 'layouts/footer' %>


</body>
</html>
