<!DOCTYPE html>
<html>
<head>
  <title>Sherlewagner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="<%=controller_name%> <%=action_name%>">

  <%= render "/layouts/navbar" %>
<div class="container-fluid">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
       <%= render "/layouts/sidebar" %>
    </div>
    <div class="col-sm-8 "> 
      <% if controller_name == "styles" && action_name == "index" || controller_name == "genres" && action_name == "show" %>
        <%= yield %>

       <% else %>
  <!-- <div class="contain">-->
        <div id="content_wrapper"> 
            <%= yield %>
            
         </div>
<!--
        
  </div>   -->
  
        <% end %>
    </div>
    <div class="col-sm-2 sidenav ">
      <div class="well">
        <%= render 'recently_viewed_products/recently_viewed_products' %>
      </div>
      
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
