<!DOCTYPE html>
<html>
<head>
  <title>Sherlewagner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="<%=controller_name%> <%=action_name%>">

  <%= render "/layouts/navbar" %>

                        

  <div class="side-nav-contain span4" id="pg-nav">

  <%= render "/layouts/sidebar" %>
      

  </div>

  <div class="container">
     <% if controller_name == 'static_pages' && action_name == 'home' %>
      <%= yield %>
     <% else %>
        <div id="content_wrapper">
      <%= yield %>
      
       </div>
     <% end %>
     
    <%= render 'layouts/footer' %>
  </div>  
  

</body>
</html>
