<!DOCTYPE html>
<html>
<head>
  <title>Sherlewagner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="<%=controller_name%> <%=action_name%>">

  <%= render "/layouts/navbar" %>
  <%= render "/layouts/sideb" %> <!-- this is the sidenavJS -->
                          <!-- ** to do: Make sideb and ajax1 into a real JS file -->

  <div class="side-nav-contain span4" id="pg-nav">

      <%= render "/layouts/sidebNested" %>
  </div>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  

</body>
</html>
