<!DOCTYPE html>
<html>
<head>
  <title>Sherlewagner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, "data-turbolinks-eval" => false  %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
  //active nav link
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>
</head>
<body class="<%=controller_name%> <%=action_name%>">

  <%= render "/layouts/navbar" %>
<div class="container-fluid" id='main_contain'>  

    <div class="row content">
 <% if controller_name == "styles" && action_name == "index" || controller_name == "styles" && action_name == "show" %>
          <%= yield %>

 <% else %>
      <div class="col-sm-4 col-lg-2 sidenav" id="l_nav">
         <%= render "/layouts/sidebar" %>
      </div>

      <div class=" col-lg-8 col-sm-8"id='center_main'> 
       
                <!-- <div class="contain">-->
          <div id="content_wrapper"> 
              <%= yield %>
              
           </div>
                <!--
          
                    </div>   -->
    
<% end %>
      </div>

      <div class="col-md-4 col-lg-2 sidenav r_col">
        <div class="well">
         <!--  %= render 'recently_viewed_products/recently_viewed_products' % -->
        </div>
        
      </div>
    </div>

</div>


  <%= render 'layouts/footer' %>


</body>
</html>
